openapi: 3.0.3
info:
  title: ParkTrack API
  version: "v1.0"
  description: |
    Полезные ссылки:
    
    [Основная документация API](https://docs.parktrack.live/docs/api)
    
    [Редактировать эту Swagger документацию](https://github.com/ParkTrack-Project/api-docs-swagger/blob/main/openapi.yaml)
    
    [Редактор OpenAPI от Swagger](https://editor.swagger.io/)
    
    [GitHub организация](https://github.com/parktrack-project)

    ---
    
    **Base address:** `https://api.parktrack.live`

    ## Авторизация
    
    Для MVP используется один системный access_token с полным доступом ко всему API (v1 — System Token Only).
    Токен можно получить в Telegram-чате команды.
    
    ## Формат данных

    ### Время
    Время передается в UTC в строковом представлении в формате ISO 8601, с постфиксом `Z`.
    Например, `2025-10-08T09:12:00Z`.

    ### Опорные точки
    Для упрощения рендеринга парковочных зон, порядок выбора 4 опорных точек записывается Labeler
    при разметке. Пользователю должно показываться сообщение, что отмечать точки нужно по часовой стрелке.
    Сохраненный порядок точек должен сохраняться при передаче данных, а также при хранении на сервере.

servers:
  - url: https://api.parktrack.live

security:
  - bearerAuth: []

tags:
  - name: Auth
    description: v1 — System Token Only
  - name: Cameras
  - name: Parking Zones
  - name: System

paths:
  /cameras:
    get:
      tags:
        - Cameras
      summary: Получить список камер
      description: Возвращает список всех зарегистрированных камер. Используется для получения каталога камер и отображения их в интерфейсе `labeler`.
      parameters:
        - in: query
          name: q
          schema:
            type: string
          description: Фильтр по подстроке в `title`.
        - in: query
          name: top_left_corner_latitude
          schema:
            type: number
            format: double
            minimum: -90
            maximum: 90
          description: Широта левого верхнего угла окна просмотра камер (опционально).
        - in: query
          name: top_left_corner_longitude
          schema:
            type: number
            format: double
            minimum: -180
            maximum: 180
          description: Долгота левого верхнего угла окна просмотра камер (опционально).
        - in: query
          name: bottom_right_corner_latitude
          schema:
            type: number
            format: double
            minimum: -90
            maximum: 90
          description: Широта правого нижнего угла окна просмотра камер (опционально).
        - in: query
          name: bottom_right_corner_longitude
          schema:
            type: number
            format: double
            minimum: -180
            maximum: 180
          description: Долгота правого нижнего угла окна просмотра камер (опционально).
      responses:
        "200":
          description: Список объектов Camera.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Camera"
              examples:
                sample:
                  value:
                    - camera_id: 1
                      title: "Кронверкский просп., парковка напротив ИТМО"
                      source: "rtsp://..."
                      image_width: 1920
                      image_height: 1080
                      calib:
                        image_width: 1920
                        image_height: 1080
                        K:
                          - [1739.237279181759, 0.0, 947.5335576199107]
                          - [0.0, 2244.705015334057, 564.6946579168148]
                          - [0.0, 0.0, 1.0]
                        D: [-0.37, 0.05, 0.03, 0.01]
                        balance: 0.0
                        model: "opencv_fisheye_k1k2k3k4"
                      latitude: 59.955976
                      longitude: 30.309426
                      created_at: "2025-10-08T09:12:00Z"
                      updated_at: "2025-10-08T09:12:00Z"
                    - camera_id: 2
                      title: "Ломоносова, 9 — двор"
                      source: "https://... .m3u8"
                      image_width: 1920
                      image_height: 1080
                      calib: null
                      latitude: 59.927366
                      longitude: 30.338487
                      created_at: "2025-10-08T09:15:00Z"
                      updated_at: "2025-10-08T09:15:00Z"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "422":
          description: Валидация не пройдена (например, координаты окна просмотра заданы некорректно).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          $ref: "#/components/responses/InternalError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"

  /cameras/new:
    post:
      tags:
        - Cameras
      summary: Создать новую камеру
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateCameraRequest"
            examples:
              sample:
                value:
                  title: "Кронверкский просп., парковка напротив ИТМО"
                  source: "https://... .m3u8"
                  image_width: 1920
                  image_height: 1080
                  calib: null
                  latitude: 59.955976
                  longitude: 30.309426
      responses:
        "201":
          description: Числовой идентификатор созданной камеры.
          content:
            application/json:
              schema:
                type: object
                required:
                  - camera_id
                properties:
                  camera_id:
                    type: integer
                    example: 1
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "409":
          description: Камера с таким `title` уже существует.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "415":
          $ref: "#/components/responses/UnsupportedMediaType"
        "422":
          description: Валидация не пройдена (например, `title` пустой или слишком длинный).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          $ref: "#/components/responses/InternalError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"

  /cameras/{camera_id}:
    get:
      tags:
        - Cameras
      summary: Получить информацию о камере
      parameters:
        - $ref: "#/components/parameters/CameraId"
      responses:
        "200":
          description: Объект Camera.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Camera"
              examples:
                sample:
                  value:
                    camera_id: 1
                    title: "Кронверкский просп., парковка напротив ИТМО"
                    source: "https://... .m3u8"
                    image_width: 1920
                    image_height: 1080
                    calib: null
                    latitude: 59.955976
                    longitude: 30.309426
                    created_at: "2025-10-08T08:00:00Z"
                    updated_at: "2025-10-08T08:10:00Z"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
    put:
      tags:
        - Cameras
      summary: Обновить данные камеры (частично или полностью)
      parameters:
        - $ref: "#/components/parameters/CameraId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateCameraRequest"
      responses:
        "200":
          description: Объект Camera (актуальное состояние после обновления).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Camera"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "409":
          description: Конфликт уникальности `title`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "415":
          $ref: "#/components/responses/UnsupportedMediaType"
        "422":
          description: Валидация не пройдена (`title` пустой/слишком длинный; `latitude`/`longitude` вне диапазона).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          $ref: "#/components/responses/InternalError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
    delete:
      tags:
        - Cameras
      summary: Удалить камеру (и связанные данные)
      description: Удаляет камеру и **все связанные с ней парковочные зоны и данные** (при их наличии). Действие **необратимо**.
      parameters:
        - $ref: "#/components/parameters/CameraId"
      responses:
        "204":
          description: Камера успешно удалена (тело отсутствует).
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "409":
          description: Удаление невозможно из-за зависимостей (есть парковочные зоны с этой камерой).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          $ref: "#/components/responses/InternalError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"

  /cameras/next:
    get:
      tags:
        - Cameras
      summary: Получить следующую камеру для детекции
      description: |
        Возвращает следующую камеру для очередной детекции автомобилей.
        Камеры перебираются по кругу по их идентификаторам.
      responses:
        "200":
          description: Данные следующей камеры.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CamerasNextResponse"
              examples:
                with_calib:
                  value:
                    camera_id: 1
                    source: "https://<path>.m3u8"
                    image_width: 1920
                    image_height: 1080
                    calib:
                      image_width: 1920
                      image_height: 1080
                      K:
                        - [1739.237279181759, 0.0, 947.5335576199107]
                        - [0.0, 2244.705015334057, 564.6946579168148]
                        - [0.0, 0.0, 1.0]
                      D: [-0.37, 0.05, 0.03, 0.01]
                      balance: 0.0
                      model: "opencv_fisheye_k1k2k3k4"
                without_calib:
                  value:
                    camera_id: 1
                    source: "https://<path>.m3u8"
                    image_width: 1920
                    image_height: 1080
                    calib: null
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          description: Не добавлено ни одной камеры.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          $ref: "#/components/responses/InternalError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"

  /cameras/{camera_id}/snapshot:
    get:
      tags:
        - Cameras
      summary: Получить кадр из видеопотока камеры
      description: Возвращает изображение (кадр) из видеопотока `source` камеры.
      parameters:
        - $ref: "#/components/parameters/CameraId"
      responses:
        "200":
          description: Изображение (снимок) с камеры.
          content:
            image/jpeg:
              schema:
                type: string
                format: binary
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          description: Камера с указанным `camera_id` не найдена.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          $ref: "#/components/responses/InternalError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"

  /zones:
    get:
      tags:
        - Parking Zones
      summary: Получить список парковочных зон
      description: |
        Возвращает список всех парковочных зон.
        Авторизация не обязательна; при запросе без токена поле `camera_id` в объектах Zone может отсутствовать.
      security:
        - {}
        - bearerAuth: []
      parameters:
        - in: query
          name: camera_id
          schema:
            type: integer
            minimum: 1
          description: Вернуть зоны только указанной камеры.
        - in: query
          name: min_free_count
          schema:
            type: integer
            minimum: 0
          description: Фильтр по минимальному количеству свободных мест в зоне.
        - in: query
          name: max_pay
          schema:
            type: integer
            minimum: 0
          description: Фильтр по максимальной цене парковки в зоне за час.
      responses:
        "200":
          description: Массив объектов Zone.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Zone"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "500":
          $ref: "#/components/responses/InternalError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"

  /zones/new:
    post:
      tags:
        - Parking Zones
      summary: Создать новую парковочную зону
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateZoneRequest"
            examples:
              sample:
                value:
                  camera_id: 1
                  zone_type: "parallel"
                  capacity: 7
                  pay: 0
                  points:
                    - latitude: 59.955976
                      longitude: 30.309426
                      x: 45
                      y: 23
                    - latitude: 59.956008
                      longitude: 30.309358
                      x: 87
                      y: 25
                    - latitude: 59.956231
                      longitude: 30.309979
                      x: 79
                      y: 149
                    - latitude: 59.956201
                      longitude: 30.310043
                      x: 32
                      y: 145
      responses:
        "201":
          description: ID созданной зоны.
          content:
            application/json:
              schema:
                type: object
                required:
                  - zone_id
                properties:
                  zone_id:
                    type: integer
                    example: 1
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          description: Камера с указанным `camera_id` не существует.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "415":
          $ref: "#/components/responses/UnsupportedMediaType"
        "422":
          description: Валидация не пройдена (диапазоны координат/ровно 4 точки/`capacity`/`pay`).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          $ref: "#/components/responses/InternalError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"

  /zones/{zone_id}:
    get:
      tags:
        - Parking Zones
      summary: Получить данные о конкретной зоне
      description: |
        Возвращает данные о конкретной парковочной зоне.
        Авторизация не обязательна; при запросе без токена поле `camera_id` может отсутствовать.
      security:
        - {}
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/ZoneId"
      responses:
        "200":
          description: Объект Zone.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Zone"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
    put:
      tags:
        - Parking Zones
      summary: Обновить данные парковочной зоны (частично или полностью)
      parameters:
        - $ref: "#/components/parameters/ZoneId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateZoneRequest"
      responses:
        "200":
          description: Объект Zone после обновления.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Zone"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          description: "`zone_id` не существует, либо (при смене `camera_id`) указанная камера не найдена."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "415":
          $ref: "#/components/responses/UnsupportedMediaType"
        "422":
          description: Валидация не пройдена (`capacity`/`occupied`/`confidence`/`points`/диапазоны координат).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          $ref: "#/components/responses/InternalError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
    delete:
      tags:
        - Parking Zones
      summary: Удалить парковочную зону
      parameters:
        - $ref: "#/components/parameters/ZoneId"
      responses:
        "204":
          description: Зона успешно удалена (тело отсутствует).
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "409":
          description: Удаление невозможно (конфликт).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          $ref: "#/components/responses/InternalError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"

  /health:
    get:
      tags:
        - System
      summary: Health check
      security: []
      responses:
        "200":
          description: Статус здоровья сервера и БД.
          content:
            application/json:
              schema:
                type: object
                required:
                  - status
                properties:
                  status:
                    type: string
                    enum:
                      - healthy
                      - degraded
                    example: healthy
        "500":
          $ref: "#/components/responses/InternalError"

  /version:
    get:
      tags:
        - System
      summary: Версия API
      security: []
      responses:
        "200":
          description: Текущая версия API.
          content:
            application/json:
              schema:
                type: object
                required:
                  - api_version
                properties:
                  api_version:
                    type: string
                    example: v0.0
        "500":
          $ref: "#/components/responses/InternalError"

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  parameters:
    CameraId:
      in: path
      name: camera_id
      required: true
      schema:
        type: integer
        minimum: 1
      description: Идентификатор камеры.
    ZoneId:
      in: path
      name: zone_id
      required: true
      schema:
        type: integer
        minimum: 1
      description: Идентификатор зоны.

  responses:
    BadRequest:
      description: Невалидный JSON или неверные типы полей.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    UnauthorizedError:
      description: "Отсутствует или просрочен токен. Укажи `Authorization: Bearer <token>`."
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    ForbiddenError:
      description: У пользователя нет прав выполнять действие (например, создавать камеры). Проверь роли/права API-токена.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    NotFoundError:
      description: Ресурс не найден.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    UnsupportedMediaType:
      description: Неверный `Content-Type`. Используй `application/json`.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
          examples:
            sample:
              value:
                error_description: "Unsupported Media Type: expected application/json"
    InternalError:
      description: Необработанная ошибка сервера.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    ServiceUnavailable:
      description: Сервис временно недоступен/перезапускается.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"

  schemas:
    Error:
      type: object
      required:
        - error_description
      properties:
        error_description:
          type: string
          example: "Validation error: поле X обязательно"

    Camera:
      type: object
      description: Модель Camera.
      required:
        - camera_id
        - title
        - source
        - image_width
        - image_height
        - latitude
        - longitude
        - created_at
        - updated_at
      properties:
        camera_id:
          type: integer
          example: 1
        title:
          type: string
          example: "Кронверкский просп., парковка напротив ИТМО"
        source:
          type: string
          description: URL с видеопотоком камеры (например, `.m3u8`) или строка подключения (`rtsp://...`).
          example: "https://... .m3u8"
        image_width:
          type: integer
          minimum: 1
          example: 1920
        image_height:
          type: integer
          minimum: 1
          example: 1080
        calib:
          type: object
          nullable: true
          description: Вложенный json-объект с информацией о калибровке и вытягивании изображения с камеры. Может быть `null`.
          additionalProperties: true
        latitude:
          type: number
          format: double
          minimum: -90
          maximum: 90
          example: 59.955976
        longitude:
          type: number
          format: double
          minimum: -180
          maximum: 180
          example: 30.309426
        created_at:
          type: string
          format: date-time
          example: "2025-10-08T08:00:00Z"
        updated_at:
          type: string
          format: date-time
          example: "2025-10-08T08:10:00Z"

    CreateCameraRequest:
      type: object
      description: |
        **Request body (required)**
        - **title** (`string`, 1..200)
        - **source** (`string`) — URL с видеопотоком или строка подключения.
        - **image_width** (`integer`) — ширина кадра в пикселях.
        - **image_height** (`integer`) — высота кадра в пикселях.
        - **latitude** (`float`, `-90..90`)
        - **longitude** (`float`, `-180..180`)
        - **calib** (`json`) — дополнительный объект с калибровкой, может быть `null`.
      required:
        - title
        - source
        - image_width
        - image_height
        - latitude
        - longitude
      properties:
        title:
          type: string
          minLength: 1
          maxLength: 200
        source:
          type: string
        image_width:
          type: integer
          minimum: 1
        image_height:
          type: integer
          minimum: 1
        calib:
          type: object
          nullable: true
          additionalProperties: true
        latitude:
          type: number
          format: double
          minimum: -90
          maximum: 90
        longitude:
          type: number
          format: double
          minimum: -180
          maximum: 180

    UpdateCameraRequest:
      type: object
      additionalProperties: false
      description: Любые из полей ниже; минимум одно поле.
      properties:
        title:
          type: string
          minLength: 1
          maxLength: 200
        source:
          type: string
        image_width:
          type: integer
          minimum: 1
        image_height:
          type: integer
          minimum: 1
        calib:
          type: object
          nullable: true
          additionalProperties: true
        latitude:
          type: number
          format: double
          minimum: -90
          maximum: 90
        longitude:
          type: number
          format: double
          minimum: -180
          maximum: 180

    CamerasNextResponse:
      type: object
      description: Ответ эндпоинта `/cameras/next`.
      required:
        - camera_id
        - source
        - image_width
        - image_height
      properties:
        camera_id:
          type: integer
          example: 1
        source:
          type: string
          example: "https://<path>.m3u8"
        image_width:
          type: integer
          minimum: 1
          example: 1920
        image_height:
          type: integer
          minimum: 1
          example: 1080
        calib:
          type: object
          nullable: true
          description: Вложенный json-объект с информацией о калибровке и вытягивании изображения с камеры. Может быть `null`.
          additionalProperties: true
          example:
            image_width: 1920
            image_height: 1080
            K:
              - [1739.237279181759, 0.0, 947.5335576199107]
              - [0.0, 2244.705015334057, 564.6946579168148]
              - [0.0, 0.0, 1.0]
            D: [-0.37, 0.05, 0.03, 0.01]
            balance: 0.0
            model: "opencv_fisheye_k1k2k3k4"

    ZonePoint:
      type: object
      description: Опорная точка зоны (карта + пиксели изображения), по часовой стрелке.
      required:
        - latitude
        - longitude
        - x
        - y
      properties:
        latitude:
          type: number
          format: double
          minimum: -90
          maximum: 90
        longitude:
          type: number
          format: double
          minimum: -180
          maximum: 180
        x:
          type: integer
          minimum: 0
        y:
          type: integer
          minimum: 0

    Zone:
      type: object
      description: Объект зоны в ответах API.
      required:
        - zone_id
        - zone_type
        - capacity
        - pay
        - points
        - created_at
        - updated_at
      properties:
        zone_id:
          type: integer
          example: 1
        camera_id:
          type: integer
          description: ID камеры, к которой относится зона. Может отсутствовать в ответе при запросе без авторизации.
          example: 1
        zone_type:
          type: string
          enum:
            - parallel
            - standard
          example: parallel
        capacity:
          type: integer
          minimum: 0
          example: 7
        occupied:
          type: integer
          minimum: 0
          example: 5
        confidence:
          type: number
          format: double
          minimum: 0
          maximum: 1
          example: 0.76
        pay:
          type: integer
          minimum: 0
          example: 0
        points:
          type: array
          minItems: 4
          maxItems: 4
          items:
            $ref: "#/components/schemas/ZonePoint"
        created_at:
          type: string
          format: date-time
          example: "2025-10-08T08:00:00Z"
        updated_at:
          type: string
          format: date-time
          example: "2025-10-08T08:10:00Z"

    CreateZoneRequest:
      type: object
      description: |
        Ровно 4 точки. Координаты широты/долготы в допустимых диапазонах.
        `capacity >= 0`, `pay >= 0`. Для `points` порядок по часовой стрелке.
      required:
        - camera_id
        - zone_type
        - capacity
        - pay
        - points
      properties:
        camera_id:
          type: integer
          minimum: 1
        zone_type:
          type: string
          enum:
            - parallel
            - standard
        capacity:
          type: integer
          minimum: 0
        pay:
          type: integer
          minimum: 0
        points:
          type: array
          minItems: 4
          maxItems: 4
          items:
            $ref: "#/components/schemas/ZonePoint"

    UpdateZoneRequest:
      type: object
      additionalProperties: false
      description: Любое подмножество полей; минимум одно.
      properties:
        camera_id:
          type: integer
          minimum: 1
        zone_type:
          type: string
          enum:
            - parallel
            - standard
        capacity:
          type: integer
          minimum: 0
        pay:
          type: integer
          minimum: 0
        occupied:
          type: integer
          minimum: 0
        confidence:
          type: number
          format: double
          minimum: 0
          maximum: 1
        points:
          type: array
          minItems: 4
          maxItems: 4
          items:
            $ref: "#/components/schemas/ZonePoint"
